{% extends 'base.html.twig' %}
{% block title %} Isureit - Clients! {% endblock %}
{% block breadcrumb %}
    {{ include('components/breadcrumb.html.twig',
        {
            item_level:1,
            main_section_title: "Customer",
            parent_page_title: "Customer" ,
            link_path: '',
            page_title: "Customer Signature List",
            action: ''
        })
    }}
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="d-flex">
                                    <input id="filter-text-box" type="text" oninput="onFilterTextBoxChanged()" class="form-control form-control-sm form-control-solid me-3 flex-grow-1" name="search" placeholder="Search" autofocus value="">
                                </div>
                            </div>
                            <div class="col-6" style="text-align: right">
                            </div>
                        </div>
                        {{ include('components/multiple_actions.html.twig',{ actions: actions }) }}
                        <div class="row mb-2">
                            <div class="col-12">
                                <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('delete_customer_signature') }}" method="post" id="delete_form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" id="client" name="client" value="">
    </form>
    <form action="{{ path('app_public_customer_signature_download_report') }}" method="post" id="form_export_pdf">
        <input type="hidden" name="hasCode" id="hasCode" value="">
        <input type="hidden" name="type" id="type" value="pdf">
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function (e) {

            var h=$(window).height()-340
            $('#myGrid').css('height',h)

        })

        var columnDefs = [
            {headerName: "", field: "id",checkboxSelection: true,filter: false,maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "First Name", field: "firstName",sortable: true,unSortIcon: true},
            {headerName: "Last Name", field: "lastName",sortable: true,unSortIcon: true},
            {headerName: "Email", field: "email",sortable: true,unSortIcon: true},
            {headerName: "Phone", field: "phone",sortable: true,unSortIcon: true},
            {headerName: "Status", field: "signature",sortable: true,unSortIcon: true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:250,minWidth:250,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [];

        {% for customer in prospects %}

        var obj={
            id:"{{ customer.id }}",
            firstName:"{{ customer.firstName }}",
            lastName:"{{ customer.lastName }}",
            phone:"{{ customer.phone }}",
            email:"{{ customer.email }}",
            signature: "{{ customer.statusName }}",
            hasCode: "{{ customer.hasCode }}"
        }
        rowData.push(obj);

        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: false,
            floatingFilter: true,
            paginationAutoPageSize: true,
            rowHeight:34,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function actionCellRendererFunc(params){

            var id = params.data.id;
            var hasCode = params.data.hasCode;

            var url_view = "{{ path('customer_signature_view') }}" + "/" + id;
            var url_approve = "{{ path('customer_signature_change_status') }}" + "/?id=" + id+"&statusId="+2;


            var btn_view = '<a href="'+url_view+'" class="btn btn-icon btn-bg-light btn-active-color-info btn-sm me-1">'+
                '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">'+
                    '<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>'+
                    '<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>'+
                '</svg>'+
                '</a>';

            var btn_approve = '<a href="'+url_approve+'" class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1 btn-approve">'+
                '<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>'+
                '</a>';

            var btn_delete = '<a href="#" data-id="'+id+'" class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm btn-delete">'+
                '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">'+
                '<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>'+
                '</svg>'+
                ' </a>';

            var btn_export_pdf = '<a href="#" data-id="'+hasCode+'" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 btn_export_pdf">'+
                '<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V304H176c-35.3 0-64 28.7-64 64V512H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM176 352h32c30.9 0 56 25.1 56 56s-25.1 56-56 56H192v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V448 368c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24H192v48h16zm96-80h32c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48H304c-8.8 0-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H320v96h16zm80-112c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V432 368z"/></svg>'+
                '</a>';


            return  btn_approve +
                    btn_view +
                    btn_export_pdf +
                    btn_delete;
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        $('.btn-execute').click(function (e) {
            e.preventDefault()

            let action = $('#multiple_actions').val();

            var selected = [];

            var rowsSelected = gridOptions.api.getSelectedRows();
            var longrowSelected = rowsSelected.length;

            $.each(rowsSelected,function(){
                var row = $(this)[0];
                selected.push(row.id);
            })

            if (action === '0'){
                if (longrowSelected === 0) {
                    Swal.fire({
                        title: 'Delete seleted!',
                        html: 'Select at least one element please.',
                        icon: "warning",
                        confirmButtonText: "Ok",
                    })
                }
                var url = "/users/delete_multiple_role";
                var data = {
                    'ids': selected
                }

                Swal.fire({
                    html: 'Do you want to delete these users?',
                    icon: "warning",
                    buttonsStyling: false,
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: 'No, cancel',
                    customClass: {
                        confirmButton: "btn btn-success btn-confirm-delete",
                        cancelButton: 'btn btn-danger'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {

                        var user_id = $('#client').val()
                        var tr = $('#row_' + user_id);
                        var url = "/users/delete_multiple";
                        var data = {
                            'ids': selected
                        }

                        $.post(url, data, function (result) {

                            selected.forEach(rol => {
                                var tr = $('#row_' + rol);
                                tr.fadeOut(500)
                            })

                            Swal.fire(
                                'Deleted!',
                                'The roles has been deleted.',
                                'success'
                            )
                        })
                    }
                })
            }
            //send notification
            if(action == 1){
                if (selected.length === 0) {
                    Swal.fire({
                        title: 'Clients selected!',
                        html: 'Select at least one client please.',
                        icon: "warning",
                        confirmButtonText: "Ok",
                    })
                }

                Swal.fire({
                    html: 'Do you want to send a request signature to these users?',
                    icon: "warning",
                    buttonsStyling: false,
                    showCancelButton: true,
                    confirmButtonText: "Yes, send it!",
                    cancelButtonText: 'No, cancel',
                    customClass: {
                        confirmButton: "btn btn-success btn-confirm-delete",
                        cancelButton: 'btn btn-danger'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {

                        var url = $('#send_notification_form').attr('action');

                        var data = {
                            'ids': selected
                        }

                        $.post(url, data, function (result) {

                            Swal.fire(
                                'Sent!',
                                'The notifications has been send.',
                                'success'
                            )
                        })
                    }
                })
            }
        })

        $('#myGrid').on('click','.btn_export_pdf',function(e){
            e.preventDefault()
            var hasCode = $(this).data('id');

            var hasCodeHidden = $('#hasCode');
            var form = $('#form_export_pdf');

            hasCodeHidden.val(hasCode);

            form.submit();
        })

        $('#myGrid').on('click','.btn-delete',function(e){

            e.preventDefault();
            Swal.fire({
                html: 'Do you want to delete this client?',
                icon: "warning",
                buttonsStyling: false,
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: 'No, cancel',
                customClass: {
                    confirmButton: "btn btn-success btn-confirm-delete",
                    cancelButton: 'btn btn-danger'
                }
            }).then((result) => {
                if (result.isConfirmed) {

                    var user_id = $(this).data('id');
                    var url=$('#delete_form').attr('action')

                    var data={
                        id : user_id
                    }

                    $.post(url, data, function (result) {

                        var selectedData = gridOptions.api.getSelectedRows();
                        var res = gridOptions.api.updateRowData({remove: selectedData});

                        Swal.fire(
                            'Deleted!',
                            'The client has been deleted.',
                            'success'
                        )
                    })
                }
            })
        })

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);


    </script>
{% endblock %}