{% extends 'base.html.twig' %}
{% block title %} Isureit - Users!{% endblock %}
{% block breadcrumb %}
    {{ include('components/breadcrumb.html.twig',
        {
            item_level:2,
            main_section_title: "Customer Signature",
            parent_page_title: "Customers Signature" ,
            link_path: 'customer_signature_list',
            page_title: "Customer Signature",
            action: action
        })
    }}
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="post d-flex flex-column-fluid" id="kt_post">
                                    <div id="kt_content_container" class="container-xxl">
                                        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                                            <div class="card-header cursor-pointer">
                                                <div class="card-title m-0">
                                                    <h3 class="fw-bolder m-0">Client Details: {{ object.firstName }} {{ object.lastName }} - {{ object.status.name }}</h3>
                                                </div>
                                            </div>
                                            <div class="card-body p-9">
                                                
                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-gray-800">Full Name</label>
                                                    <div class="col-lg-8">
                                                        <span class="fw-bolder fs-6 text-muted ">{{ object.firstName }} {{ object.lastName }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">DOB</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.dateOfBirth }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Address</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.address }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Suite</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.suite }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">City</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.city }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">US State</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.state.name }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Zip Code</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.zipCode }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Family Size</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.familySize }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Marketplace (Y/N)</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        {% if object.isMarketPlace == true %}
                                                            <span class="fw-bolder fs-6 text-gray-800 me-2">Y</span>
                                                        {% else %}
                                                            <span class="fw-bolder fs-6 text-gray-800 me-2">N</span>
                                                        {% endif %}

                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Current Household Income on file</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.currentHouseHold }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">{% trans %}sign_form.label.expectHousehold{% endtrans %}</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.expectHousehold }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">{% trans %}sign_form.label.recent_carrier{% endtrans %}</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.mostRecentCarrier }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">{% trans %}sign_form.label.monthly_premium{% endtrans %}</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.currentMonthlyPremium }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Email</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.email }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Phone Number</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.phone }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">{% trans %} sign_form.label.interested_renew {% endtrans %}</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">
                                                            {% if object.isInsterestedRenewingCurrentPlan == true %}
                                                                Yes
                                                            {% else %}
                                                                No
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>
                                                {% if object.isInsterestedRenewingCurrentPlan == false %}
                                                    <div class="row mb-7">
                                                        <label class="col-lg-4 fw-bold text-muted">{% trans %} sign_form.label.needInsuranceNextYear {% endtrans %}</label>
                                                        <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">
                                                            {% if object.needInsuranceNextYear == true %}
                                                                Yes
                                                            {% else %}
                                                                No
                                                            {% endif %}
                                                        </span>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">{% trans %} sign_form.label.siganture {% endtrans %}</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.signature }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">{% trans %} sign_form.label.signature_date {% endtrans %}</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ object.signatureDate|date('m/d/Y') }}</span>
                                                    </div>
                                                </div>
                                                <div class="row mb-7">
                                                    <form action="{{ path('app_public_customer_signature_download_report') }}" method="post" id="form">
                                                        <input type="hidden" name="hasCode" id="hasCode" value="{{ object.hasCode }}">
                                                        <input type="hidden" name="type" id="type" value="">
                                                        <input type="hidden" name="language" id="language" value="en">
                                                        <div class="separator separator-content my-15"></div>
                                                        <p class="text-info fw-bold">{% trans %}sign_form.label.export{% endtrans %}</p>
                                                        <a href="#" class="btn btn-info me-2 mb-2 btn_export_pdf">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                                                <style>svg{fill:#ffffff}</style><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V304H176c-35.3 0-64 28.7-64 64V512H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM176 352h32c30.9 0 56 25.1 56 56s-25.1 56-56 56H192v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V448 368c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24H192v48h16zm96-80h32c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48H304c-8.8 0-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H320v96h16zm80-112c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V432 368z"/></svg>
                                                        </a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {

            $('.btn_export_pdf').click(function (e) {

                e.preventDefault();

                $('#type').val('pdf')

                $('#form').submit();
            })
        })
    </script>
{% endblock %}