{% extends 'base.html.twig' %}
{#{% block title %}Isureit - {{ action }}  Client Status {% endblock %}#}
{#{% block breadcrumb %}#}
{#    {{ include('components/breadcrumb.html.twig',#}
{#        #}{#}#}
{#            item_level:2,#}
{#            main_section_title: "Client Status",#}
{#            parent_page_title: "Clients Status" ,#}
{#            link_path: 'app_client_status_list',#}
{#            page_title: "Client Status",#}
{#            action: action#}
{#        })#}
{#    }}#}
{#{% endblock %}#}
{#{% block body %}#}
{#    <div class="content-page">#}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <div class="row">#}
{#                            <div class="col-9">#}
{#                                {{ form_start(form, {'attr': {'id':'form'}}) }}#}

{#                                {{ form_widget(form) }}#}

{#                                <div class="form-group row pt-10">#}
{#                                    <div class="col-12">#}
{#                                        <p class="text-danger font-weight-bold">(*) Fields required</p>#}
{#                                        <a href="#" class="btn btn-primary bnt-send"><i class="fas fa-save"></i>#}
{#                                            Save</a>#}
{#                                        <a href="{{ path('list_agency') }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                {{ form_end(form) }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{# {% block javascripts %}#}
{#     {{ parent() }}#}
{#     <script type="text/javascript">#}
{#         $(document).ready(function (e) #}{#}#}

{#             $('.bnt-send').click(function (e) #}{#}#}

{#                 e.preventDefault();#}
{#                 $('#form').submit();#}
{#             })#}
{#         })#}
{#     </script>#}
{# {% endblock %}#}
