
{% block stylesheets %}
    <style>
        /*@font-face {*/
        /*    font-family: 'Roboto';*/
        /*    font-style: normal;*/
        /*    font-weight: 300;*/
        /*    src:  url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');*/
        /*}*/
        /*@font-face {*/
        /*    font-family: 'Roboto';*/
        /*    font-style: normal;*/
        /*    font-weight: 400;*/
        /*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');*/
        /*}*/
        /*@font-face {*/
        /*    font-family: 'Roboto';*/
        /*    font-style: normal;*/
        /*    font-weight: 700;*/
        /*    src:  url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');*/
        /*}*/

        /*body {*/
        /*    font-family: 'Roboto', serif;*/
        /*    color: #303030;*/
        /*}*/

        /*p{*/
        /*    font-family: 'Roboto', serif!important;*/
        /*    color: #303030;*/
        /*}*/
    </style>
{% endblock %}

<div style="margin: 0 auto;padding: 25px 15px;">
    <h2 class="text-info">Client consent</h2>
    <p>I hearby give permission to <strong>Insuring Sources, Inc.</strong> and its' agents to serve as the health insurance agent/broker for myself and my entire household (if applicable), for purposes of enrollment in a Qualified Health Plan (QHP) offered on the Federally Facilitated Marketplace. By consenting to this agreement, I authorize the above-mentioned Agency and its agents to view and use the confidential information provided by me in writing, electronically, by text or telephone only for the purposes of one or more of the following:</p>
    <ol>
        <li>{% trans %}sign_form.li1{% endtrans %}</li>
        <li>{% trans %}sign_form.li2{% endtrans %}</li>
        <li>{% trans %}sign_form.li3{% endtrans %}</li>
        <li>{% trans %}sign_form.li4{% endtrans %}</li>
    </ol>
    <p>I understand that the Agent will not use or share my personally identifiable information (PII) for any purposes other than those listed above. The Agent will ensure that my PII is kept private and safe when collecting, storing, and using my PII for the stated purposes above.</p>
    <hr>
    <p><strong>{% trans %}sign_form.agency_name{% endtrans %}</strong> Insuring Sources, Inc.</p>
    <p><strong>{% trans %}sign_form.anpn{% endtrans %}</strong> 9131880</p>
    <p><strong>{% trans %}sign_form.name_pwa{% endtrans %}</strong> Mary Saiz   &   Elise Vall</p>
    <p><strong>{% trans %}sign_form.anpn{% endtrans %}</strong> 503048   &   17709529</p>
    <p><strong>{% trans %}sign_form.phone_fax{% endtrans %}</strong>  786-597-6421  &  305-203-0588</p>
    <p><strong>{% trans %}sign_form.email{% endtrans %}</strong> ms@insuringsources.com  /  ek@insuringsources.com</p>
    <p><strong>First Name:</strong> {{ customerSignature.firstName }}</p>
    <p><strong>Last Name:</strong> {{ customerSignature.lastName }}</p>
    <p><strong>DOB:</strong> {{ customerSignature.dateOfBirth }}</p>
    <p><strong>Address 1:</strong> {{ customerSignature.address }}</p>
    <p><strong>Address 2:</strong> {{ customerSignature.suite }}</p>
    <p><strong>City:</strong> {{ customerSignature.city }}</p>
    <p><strong>US State:</strong> {{ customerSignature.state.name }} - {{ customerSignature.state.abbreviation }}</p>
    <p><strong>Zip Code:</strong> {{ customerSignature.zipcode }}</p>
    <p><strong>Email:</strong> {{ customerSignature.email }}</p>
    <p><strong>Phone Number:</strong> {{ customerSignature.phone }}</p>
    <p><strong>Family Size:</strong> {{ customerSignature.familySize }}</p>
    <p><strong>Marketplace (Y/N):</strong>
        {% if customerSignature.isMarketplace == true %}
            Yes
        {% else %}
            No
        {% endif %}
    </p>
    {% if customerSignature.isMarketplace == true %}
        <p><strong>Current Household Income on file:</strong> {{ customerSignature.currentHousehold }}</p>
        <p><strong>What do you expect your household income to be in 2024?:</strong> {{ customerSignature.expectHousehold }}</p>
    {% endif %}
    <p><strong>Most Recent Insurance Carrier:</strong> {{ customerSignature.mostRecentCarrier }}</p>
    <p><strong>Plan Name:</strong> {{ customerSignature.planName }}</p>
    <p><strong>Current Monthly Premium (2023):</strong> {{ customerSignature.currentMonthlyPremium }}</p>
    <p><strong>Are you interested in renewing your current plan?:</strong>
        {% if customerSignature.isInsterestedRenewingCurrentPlan == true %}
            Yes
        {% else %}
            No
        {% endif %}
    </p>
    {% if customerSignature.isInsterestedRenewingCurrentPlan == false %}
        <p><strong>Do you still need insurance for 2024?:</strong>
            {% if customerSignature.needInsuranceNextYear == true %}
                Yes
            {% else %}
                No
            {% endif %}
        </p>

    {% endif %}
    <p><strong>Primary Subscriber Signature:</strong> {{ customerSignature.signature }}</p>
    <p><strong>Signature Date:</strong> {{ customerSignature.signatureDate|date('m/d/Y') }}</p>

</div>