{% extends 'base.html.twig' %}
{% block title %} Isureit - Clients! {% endblock %}
{% block breadcrumb %}
    {{ include('components/breadcrumb.html.twig',
        {
            item_level:1,
            main_section_title: "Client",
            parent_page_title: "Clients" ,
            link_path: '',
            page_title: "Client List",
            action: ''
        })
    }}
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ path('client_list') }}" method="POST" id="form-search">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="d-flex">
                                        <input id="filter-text-box" type="text" class="form-control form-control-sm form-control-solid me-3 flex-grow-1" name="search" placeholder="Search" autofocus value="{{ searh }}">
                                        <button id="btn-search" class="btn btn-sm btn-secondary fw-bolder flex-shrink-0" data-clipboard-target="#kt_share_earn_link_input">Search</button>
                                    </div>
                                </div>
                                <div class="col-6" style="text-align: right">
                                    <a href="{{ path('client_create') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Add Client</a>
                                    <a href="{{ path('client_upload') }}" class="btn btn-sm btn-primary"><i class="fas fa-upload"></i> Upload Clients</a>
                                </div>
                            </div>
                        </form>
                        {{ include('components/multiple_actions.html.twig',{ actions: actions }) }}
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="table-responsive" id="cont-table">
                                    <table id="table" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                        <thead>
                                        <tr class="fw-bolder text-muted">
                                            <th class="w-10%">
                                                <input class="form-check-input" type="checkbox" value="1" data-kt-check="true" data-kt-check-target=".widget-9-check" /> ID
                                            </th>
                                            <th class="{% if pagination.isSorted('u.status') %} class='sorted'{% endif %}" >{{ knp_pagination_sortable(pagination, 'Status', 'u.status') }}</th>
                                            <th class="{% if pagination.isSorted('u.firstName') %} class='sorted'{% endif %}" >{{ knp_pagination_sortable(pagination, 'First Name', 'u.firstName') }}</th>
                                            <th class="{% if pagination.isSorted('u.lastName') %} class='sorted'{% endif %}" >{{ knp_pagination_sortable(pagination, 'Last Name', 'u.lastName') }}</th>
                                            <th class="{% if pagination.isSorted('u.email') %} class='sorted'{% endif %}" >{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                                            <th class="{% if pagination.isSorted('u.phone') %} class='sorted'{% endif %}" >{{ knp_pagination_sortable(pagination, 'Phone', 'u.phone') }}</th>
                                            <th style="text-align: right">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in pagination %}
                                            <tr id="row_{{ client.id }}">
                                                <td>
                                                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                        <input class="form-check-input widget-9-check" type="checkbox" value="{{ client.id }}" />
                                                    </div>
                                                </td>
                                                <td>{{ client.status }}</td>
                                                <td>{{ client.firstName }}</td>
                                                <td>{{ client.lastName }}</td>
                                                <td>{{ client.email }}</td>
                                                <td>{{ client.phone }}</td>
                                                <td>
                                                    <div class="d-flex justify-content-end flex-shrink-0">
                                                        {{ include('components/btn_view.html.twig', { path: path('client_view',{'id':client.id})  }) }}
                                                        {{ include('components/btn_edit.html.twig', { path: path('client_update',{'id':client.id})  }) }}
                                                        {{ include('components/btn_delete.html.twig', { path: path('delete_user',{id:client.id}), id: client.id}) }}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="navigation">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('delete_client') }}" method="post" id="delete_form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" id="client" name="client" value="">
    </form>

    <form action="{{ path('client_send_notification') }}" method="post" id="send_notification_form"></form>
    {{ include('client/form.html.twig',{form:delete_form_ajax}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {

            $('#btn-search').click(function(e){
                e.preventDefault()

                let searcrh_text=$('#filter-text-box').val()

                $('#form-search').submit()
            })

            $('.btn-delete').click(function(e){
                e.preventDefault()

                var id=$(this).data('id')
                $('#client').val(id)
            })

            $('#cont-table').on('click','.btn-delete',function(e){


                Swal.fire({
                    html: 'Do you want to delete this client?',
                    icon: "warning",
                    buttonsStyling: false,
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: 'No, cancel',
                    customClass: {
                        confirmButton: "btn btn-success btn-confirm-delete",
                        cancelButton: 'btn btn-danger'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {

                        var user_id=$('#client').val()
                        var tr=$('#row_'+user_id);
                        var url=$('#delete_form').attr('action')

                        var data={
                            id:user_id
                        }

                        $.post(url, data, function (result) {

                            tr.fadeOut(500)

                            Swal.fire(
                                'Deleted!',
                                'The client has been deleted.',
                                'success'
                            )
                        })
                    }
                })
            })

            $('.btn-execute').click(function (e) {
                e.preventDefault()

                let action = $('#multiple_actions').val();
                var selected = [];

                $('#table input[type="checkbox"]:checked').each(function() {
                    selected.push($(this).val());
                });


                if (action === '0'){
                    if (selected.length === 0) {
                        Swal.fire({
                            title: 'Delete seleted!',
                            html: 'Select at least one element please.',
                            icon: "warning",
                            confirmButtonText: "Ok",
                        })
                    }
                    var url = "/users/delete_multiple_role";
                    var data = {
                        'ids': selected
                    }

                    Swal.fire({
                        html: 'Do you want to delete this users?',
                        icon: "warning",
                        buttonsStyling: false,
                        showCancelButton: true,
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: 'No, cancel',
                        customClass: {
                            confirmButton: "btn btn-success btn-confirm-delete",
                            cancelButton: 'btn btn-danger'
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {

                            var user_id = $('#client').val()
                            var tr = $('#row_' + user_id);
                            var url = "/users/delete_multiple";
                            var data = {
                                'ids': selected
                            }

                            $.post(url, data, function (result) {

                                selected.forEach(rol => {
                                    var tr = $('#row_' + rol);
                                    tr.fadeOut(500)
                                })

                                Swal.fire(
                                    'Deleted!',
                                    'The roles has been deleted.',
                                    'success'
                                )
                            })
                        }
                    })
                }
                //send notification
                if(action == 1){
                    if (selected.length === 0) {
                        Swal.fire({
                            title: 'Clients selected!',
                            html: 'Select at least one client please.',
                            icon: "warning",
                            confirmButtonText: "Ok",
                        })
                    }

                    var url = $('#send_notification_form').attr('action');

                    var data = {
                        'ids': selected
                    }

                    $.post(url, data, function (result) {

                        Swal.fire(
                            'Sent!',
                            'The notifications has been send.',
                            'success'
                        )
                    })
                }


            })

        })
    </script>
{% endblock %}