{% extends 'base.html.twig' %}
{% block title %} Isureit - Clients! {% endblock %}
{% block breadcrumb %}
    {{ include('components/breadcrumb.html.twig',
        {
            item_level:1,
            main_section_title: "Client",
            parent_page_title: "Clients" ,
            link_path: '',
            page_title: "Client List",
            action: ''
        })
    }}
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="d-flex">
                                    <input id="filter-text-box" type="text" oninput="onFilterTextBoxChanged()" class="form-control form-control-sm form-control-solid me-3 flex-grow-1" name="search" placeholder="Search" autofocus value="">
                                </div>
                            </div>
                            <div class="col-6" style="text-align: right">
                                <a href="{{ path('client_create') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Add Client</a>
                                <a href="{{ path('client_upload') }}" class="btn btn-sm btn-primary"><i class="fas fa-upload"></i> Upload Clients</a>
                            </div>
                        </div>
                        {{ include('components/multiple_actions.html.twig',{ actions: actions }) }}
                        <div class="row mb-2">
                            <div class="col-12">
                                <div id="myGrid" style="width:100%;" class="ag-theme-balham"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{{ path('delete_client') }}" method="post" id="delete_form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" id="client" name="client" value="">
    </form>

    <form action="{{ path('client_send_notification') }}" method="post" id="send_notification_form"></form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function (e) {

            var h=$(window).height()-340
            $('#myGrid').css('height',h)

        })

        var columnDefs = [
            {headerName: "", field: "id",checkboxSelection: true,filter: false,maxWidth: 50,headerCheckboxSelectionFilteredOnly: true,
                checkboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                },
                headerCheckboxSelection: function (params) {
                    // we put checkbox on the name if we are not doing grouping
                    return params.columnApi.getRowGroupColumns().length === 0;
                }},
            {headerName: "First Name", field: "firstName",sortable: true,unSortIcon: true},
            {headerName: "Last Name", field: "lastName",sortable: true,unSortIcon: true},
            {headerName: "Email", field: "email",sortable: true,unSortIcon: true},
            {headerName: "Phone", field: "phone",sortable: true,unSortIcon: true},
            {headerName: "Completed Signature", field: "signature",sortable: true,unSortIcon: true},
            {headerName: "Actions",field: "actions",sortable: false,enableRowGroup: false,filter:false,cellRenderer: actionCellRendererFunc,maxWidth:150,minWidth:150,
                cellClass: 'col-Actions'
            },
        ];

        var rowData = [];

        {% for client in clients %}

        var signature_str = "N";
        {% if client.customerID !=null %}
            signature_str = "Y";
        {% endif %}

        var obj={
            id:"{{ client.id }}",
            firstName:"{{ client.firstName }}",
            lastName:"{{ client.lastName }}",
            phone:"{{ client.phone }}",
            email:"{{ client.email }}",
            signature: signature_str
        }
        rowData.push(obj);

        {% endfor %}

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowSelection: 'multiple',
            rowData: rowData,
            defaultColDef: {
                resizable: true,
                filter: true
            },
            animateRows: true,
            pagination: false,
            floatingFilter: true,
            paginationAutoPageSize: true,
            rowHeight:34,
            groupIncludeFooter: true,
            suppressDragLeaveHidesColumns: true,
            suppressMakeColumnVisibleAfterUnGroup: true,
            rowGroupPanelShow: false,
            groupUseEntireRow:true,
            onFirstDataRendered: onFirstDataRendered,
            statusBar: {
                statusPanels: [
                    { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
                    { statusPanel: 'agFilteredRowCountComponent' },
                    { statusPanel: 'agSelectedRowCountComponent' },
                    { statusPanel: 'agAggregationComponent' }
                ]
            },
            sideBar: {
                toolPanels: [
                    {
                        id: 'columns',
                        labelDefault: 'Columns',
                        labelKey: 'columns',
                        iconKey: 'columns',
                        toolPanel: 'agColumnsToolPanel',
                    },
                    {
                        id: 'filters',
                        labelDefault: 'Filters',
                        labelKey: 'filters',
                        iconKey: 'filter',
                        toolPanel: 'agFiltersToolPanel',
                    }
                ]
            },

        };

        function onFirstDataRendered(params) {
            params.api.sizeColumnsToFit();
        }

        $(window).resize(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        $(document).ready(function(){
            gridOptions.api.sizeColumnsToFit();
        })

        function actionCellRendererFunc(params){
            var id =params.data.id;

            var url_view = "{{ path('client_view') }}"+"/"+id;
            var url_edit = "{{ path('client_update') }}"+"/"+id;

            var btn_view = '<a href="'+url_view+'" class="btn btn-sm btn-info btn-icon btn-actions">'+
                '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">'+
                   ' <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>'+
                    '<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>'+
                '</svg>'+
            '</a>';

            return  btn_view +
                '<a href="'+url_edit+'" class="btn btn-sm bg-primary border-primary text-primary-800 btn-icon border-2 ml-1 btn-actions"><i class="fas fa-pencil-alt"></i></a>' +
                '<a href="#" data-id="'+id+'" class="btn btn-sm bg-danger border-danger text-danger-800 btn-icon border-2 ml-1 btn-actions btn-delete"><i class="far fa-trash-alt"></i></a>';
        }

        function onPageSizeChanged(newPageSize) {
            var value = document.getElementById('page-size').value;
            gridOptions.api.paginationSetPageSize(Number(value));
        }

        function onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        }

        $('.btn-execute').click(function (e) {
            e.preventDefault()

            let action = $('#multiple_actions').val();

            var selected = [];

            var rowsSelected = gridOptions.api.getSelectedRows();
            var longrowSelected = rowsSelected.length;

            $.each(rowsSelected,function(){
                var row = $(this)[0];
                selected.push(row.id);
            })

            if (action === '0'){
                if (longrowSelected === 0) {
                    Swal.fire({
                        title: 'Delete seleted!',
                        html: 'Select at least one element please.',
                        icon: "warning",
                        confirmButtonText: "Ok",
                    })
                }
                var url = "/users/delete_multiple_role";
                var data = {
                    'ids': selected
                }

                Swal.fire({
                    html: 'Do you want to delete these users?',
                    icon: "warning",
                    buttonsStyling: false,
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: 'No, cancel',
                    customClass: {
                        confirmButton: "btn btn-success btn-confirm-delete",
                        cancelButton: 'btn btn-danger'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {

                        var user_id = $('#client').val()
                        var tr = $('#row_' + user_id);
                        var url = "/users/delete_multiple";
                        var data = {
                            'ids': selected
                        }

                        $.post(url, data, function (result) {

                            selected.forEach(rol => {
                                var tr = $('#row_' + rol);
                                tr.fadeOut(500)
                            })

                            Swal.fire(
                                'Deleted!',
                                'The roles has been deleted.',
                                'success'
                            )
                        })
                    }
                })
            }
            //send notification
            if(action == 1){
                if (selected.length === 0) {
                    Swal.fire({
                        title: 'Clients selected!',
                        html: 'Select at least one client please.',
                        icon: "warning",
                        confirmButtonText: "Ok",
                    })
                }

                Swal.fire({
                    html: 'Do you want to send a request signature to these users?',
                    icon: "warning",
                    buttonsStyling: false,
                    showCancelButton: true,
                    confirmButtonText: "Yes, send it!",
                    cancelButtonText: 'No, cancel',
                    customClass: {
                        confirmButton: "btn btn-success btn-confirm-delete",
                        cancelButton: 'btn btn-danger'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {

                        var url = $('#send_notification_form').attr('action');

                        var data = {
                            'ids': selected
                        }

                        $.post(url, data, function (result) {

                            Swal.fire(
                                'Sent!',
                                'The notifications has been send.',
                                'success'
                            )
                        })
                    }
                })
            }
        })

        $('#myGrid').on('click','.btn-delete',function(e){

            e.preventDefault();
            Swal.fire({
                html: 'Do you want to delete this client?',
                icon: "warning",
                buttonsStyling: false,
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: 'No, cancel',
                customClass: {
                    confirmButton: "btn btn-success btn-confirm-delete",
                    cancelButton: 'btn btn-danger'
                }
            }).then((result) => {
                if (result.isConfirmed) {

                    var user_id = $(this).data('id');
                    var url=$('#delete_form').attr('action')

                    var data={
                        id : user_id
                    }

                    $.post(url, data, function (result) {

                        console.log(result)

                        var selectedData = gridOptions.api.getSelectedRows();
                        var res = gridOptions.api.updateRowData({remove: selectedData});

                        Swal.fire(
                            'Deleted!',
                            'The client has been deleted.',
                            'success'
                        )
                    })
                }
            })
        })

        var gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);


    </script>
{% endblock %}