{% extends 'base.html.twig' %}
{% block title %} Isureit - Users!{% endblock %}
{% block breadcrumb %}
    {{ include('components/breadcrumb.html.twig',
        {
            item_level:2,
            main_section_title: "Client",
            parent_page_title: "Clients" ,
            link_path: path('client_list'),
            page_title: "Clients",
            action: action
        })
    }}
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-12 col-lg-9">
                                <form action="{{ path('client_upload_process') }}" method="POST" id="form-search" enctype="multipart/form-data">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <div class="form-group mb-3">
                                                <input  type="file" class="form-control form-control-sm form-control-solid me-3 flex-grow-1" name="file" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-arrow-up"></i> Upload Clients</button>
                                                <a href="{{ path('client_list') }}" class="btn btn-sm btn-danger"><i class="fas fa-ban"></i> Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {



        })
    </script>
{% endblock %}