{% extends 'base.html.twig' %}
{% block title %} Isureit - Users!{% endblock %}
{% block breadcrumb %}
    {{ include('components/breadcrumb.html.twig',
        {
            item_level:2,
            main_section_title: "Client",
            parent_page_title: "Clients" ,
            link_path: 'client_list',
            page_title: "Client",
            action: action
        })
    }}
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="post d-flex flex-column-fluid" id="kt_post">
                                    <div id="kt_content_container" class="container-xxl">
                                        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                                            <div class="card-header cursor-pointer">
                                                <div class="card-title m-0">
                                                    <h3 class="fw-bolder m-0">Client Details
                                                        {% if client.customerSignature!=null  %}
                                                            <span class="text-success"> - In Progress</span>
                                                        {% else %}
                                                            <span class="text-danger"> - Not Yet Started</span>
                                                        {% endif %}
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="card-body p-9">

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Status</label>
                                                    <div class="col-lg-8">
                                                        <span class="fw-bolder fs-6 text-gray-800">{{ client.status.name }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Full Name</label>
                                                    <div class="col-lg-8">
                                                        <span class="fw-bolder fs-6 text-gray-800">{{ client.firstName }} {{ client.lastName }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">DOB</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.dateOfBirth }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Age</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.age }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Address</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.address }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Suite</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.suite }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">City</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.city }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">US State</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.state.name }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Zip Code</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.zipCode }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Family Size</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.familySize }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Marketplace (Y/N)</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        {% if client.isMarketPlace == true %}
                                                            <span class="fw-bolder fs-6 text-gray-800 me-2">Y</span>
                                                        {% else %}
                                                            <span class="fw-bolder fs-6 text-gray-800 me-2">N</span>
                                                        {% endif %}

                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Current Household Income on file</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.currentHouseHold }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Email</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.email }}</span>
                                                    </div>
                                                </div>

                                                <div class="row mb-7">
                                                    <label class="col-lg-4 fw-bold text-muted">Phone Number</label>
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                        <span class="fw-bolder fs-6 text-gray-800 me-2">{{ client.phone }}</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {



        })
    </script>
{% endblock %}