<!DOCTYPE html>
<html lang="en">
<head><base href="../../">
    <title>{% block title %}Insuring Sources, Inc.{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('assets/media/logos/isureit-icon.ico') }}"/>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
        <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% endblock %}
</head>
<body id="kt_body">
{% block body %}{% endblock %}
</div>
{% block javascripts %}

    <script src="{{ asset('assets/js/scripts.bundle.js') }}"></script>
    <script src="{{ asset('global_assets/js/main/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/global/plugins.bundle.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(e){

        })
    </script>
{#    <script src='https://siteseal.certerassl.com/validate/dynamic/sealvalidation/O39OhtwUvEo=/0'></script>#}
{% endblock %}
</body>
</html>