{% extends 'base.html.twig' %}
{% block title %}Isureit - {{ action }} Ancillary{% endblock %}
{% block breadcrumb %}
    <div class="toolbar py-5" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
            <div class="page-title d-flex flex-column me-3">
                <h1 class="d-flex text-white fw-bolder my-1 fs-3">{{ action }} Ancillary</h1>
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <li class="breadcrumb-item text-white opacity-75">
                        <a href="{{ path('dashboard') }}" class="text-white text-hover-primary">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-white opacity-75">
                        <a href="{{ path('list_ancillary') }}" class="text-white text-hover-primary">Ancillaries</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-white opacity-75">{{ action }} Ancillary</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                {{ form_start(form, {'attr': {'id':'form'}}) }}

                                {{ form_widget(form) }}

                                <div class="form-group row pt-10">
                                    <div class="col-12">
                                        <p class="text-danger font-weight-bold">(*) Fields required</p>
                                        <a href="#" class="btn btn-primary bnt-send"><i class="fas fa-save"></i>
                                            Save</a>
                                        <a href="{{ path('list_ancillary') }}" class="btn btn-danger"><i
                                                    class="fas fa-ban"></i> Cancel</a>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('assets/js/scripts.bundle.js') }}"></script>

     <script type="text/javascript">
         $(document).ready(function (e) {

             $('.bnt-send').click(function (e) {

                 e.preventDefault();
                 $('#form').submit();
             })
         })
     </script>
 {% endblock %}
