{% extends 'base.html.twig' %}
{% block title %}Isureit - Ancillaries{% endblock %}
{% block breadcrumb %}
    <div class="toolbar py-5" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
            <div class="page-title d-flex flex-column me-3">
                <h1 class="d-flex text-white fw-bolder my-1 fs-3"> {% trans %}ancillary.ancillaries{% endtrans %}</h1>
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <li class="breadcrumb-item text-white opacity-75">
                        <a href="#" class="text-white text-hover-primary">{% trans %}global.home{% endtrans %} </a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-white opacity-75"> {% trans %}ancillary.ancillary_list{% endtrans %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="row">
            <div class="col-12">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card header-->
                    <div class="card-body ">
                        {{ include('components/search_bar.html.twig',{ action_path: path('list_ancillary'),  link_path: path('add_ancillary'), add_btn_label: 'Add Ancillary' }) }}
                        {{ include('components/multiple_actions.html.twig',{ actions: actions }) }}
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="table-responsive" id="cont-table">
                                    <table id="table" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                        <thead>
                                        <tr>
                                        <tr class="fw-bolder text-muted">
                                            <th class="w-10%">
                                                <input id="checkbox" class="form-check-input" type="checkbox" value="1" data-kt-check="true" data-kt-check-target=".widget-9-check" /> ID
                                            </th>
                                            <th {% if pagination.isSorted('u.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'u.name') }}</th>
                                            <th {% if pagination.isSorted('u.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Description', 'u.description') }}</th>
                                            <th style="text-align: right;">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ancillary in pagination %}
                                            <tr id="row_{{ ancillary.id }}">
                                                <td>
                                                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                        <input class="form-check-input widget-9-check" type="checkbox"
                                                               value="{{ ancillary.id }}"/> <span
                                                                style="margin-left: 6px;">{{ ancillary.id }}</span>
                                                    </div>
                                                </td>
                                                <td>{{ ancillary.name }}</td>
                                                <td>{{ ancillary.description }}</td>

                                                <td style="text-align: right;">
                                                    {{ include('components/btn_edit.html.twig', { path: path('edit_ancillary',{'id':ancillary.id})  }) }}
                                                    {{ include('components/btn_delete.html.twig', { path: path('delete_ancillary',{id:ancillary.id}), id: ancillary.id}) }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {# display navigation #}
                                    <div class="navigation">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="{{ path('delete_ancillary') }}" method="post" id="delete_form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" id="ancillary" name="ancillary" value="ancillary">
    </form>
    {{ include('user/form.html.twig',{form:delete_form_ajax}) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/role/delete.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#roles_paginator').DataTable({
                "searching": false,
                "sort": false,
                "paging": false
            });

            $('#btn-search').click(function (e) {
                e.preventDefault()

                let searcrh_text = $('#filter-text-box').val()

                $('#form-search').submit()
            })

            $('.btn-delete').click(function (e) {
                e.preventDefault()

                var id = $(this).data('id')
                $('#ancillary').val(id)
            })

            $('#cont-table').on('click', '.btn-delete', function (e) {


                Swal.fire({
                    html: 'Do you want to delete this ancillary?',
                    icon: "warning",
                    buttonsStyling: false,
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: 'No, cancel',
                    customClass: {
                        confirmButton: "btn btn-success btn-confirm-delete",
                        cancelButton: 'btn btn-danger'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {

                        var ancillary_id = $('#ancillary').val()
                        var tr = $('#row_' + ancillary_id);
                        var url = $('#delete_form').attr('action')

                        var data = {
                            id: ancillary_id
                        }

                        $.post(url, data, function (result) {

                            tr.fadeOut(500)

                            Swal.fire(
                                'Deleted!',
                                'The ancillary has been deleted.',
                                'success'
                            )
                        })
                    }
                })
            })


            $('.btn-execute').click(function (e) {
                e.preventDefault()

                let action = $('#multiple_actions').val();
                var selected = [];
                $('#table input[type="checkbox"]:checked').each(function() {
                    selected.push($(this).val());
                });

                if (action === '0'){
                    if (selected.length === 0) {
                        Swal.fire({
                            title: 'Delete seleted!',
                            html: 'Select at least one element please.',
                            icon: "warning",
                            confirmButtonText: "Ok",

                        })
                    }
                    var url = "/ancillaries/delete_multiple";
                    var data = {
                        'ids': selected
                    }

                    console.log(url);

                    Swal.fire({
                        html: 'Do you want to delete this ancillaries?',
                        icon: "warning",
                        buttonsStyling: false,
                        showCancelButton: true,
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: 'No, cancel',
                        customClass: {
                            confirmButton: "btn btn-success btn-confirm-delete",
                            cancelButton: 'btn btn-danger'
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {

                            var ancillary_id = $('#ancillary').val()
                            var tr = $('#row_' + ancillary_id);
                            var url = "/ancillaries/delete_multiple";
                            var data = {
                                'ids': selected
                            }

                            $.post(url, data, function (result) {

                                selected.forEach(ancillary => {
                                    var tr = $('#row_' + ancillary);
                                    tr.fadeOut(500)
                                })

                                Swal.fire(
                                    'Deleted!',
                                    'The ancillaries has been deleted.',
                                    'success'
                                )
                            })
                        }
                    })
                }

                console.log(action)
                console.log(selected)
            })
        });
    </script>
{% endblock %}