<div class="toolbar py-2" id="kt_toolbar">
    <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
        <div class="page-title d-flex flex-column me-3">
            <h1 class="d-flex text-white fw-bolder my-1 fs-3"> {{ main_section_title }}</h1>
            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                <li class="breadcrumb-item text-white opacity-75">
                    <a href="#" class="text-white text-hover-primary">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                </li>
                {% if item_level==2 %}
                <li class="breadcrumb-item text-white opacity-75">
                    <a href="{{ path( link_path ) }}" class="text-white text-hover-primary">{{ parent_page_title }}</a>
                </li>
                <li class="breadcrumb-item">
                    <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                </li>
                {% endif %}
                <li class="breadcrumb-item text-white opacity-75"> {{ action }} {{ page_title }}</li>
            </ul>
        </div>
    </div>
</div>