{% extends 'base_login.html.twig' %}
{% block body %}
<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
    <img src="{{ asset('images/logo2.jpg') }}"  class="h-60px mb-12" alt="">
    <div class="w-lg-1000px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
        <div class="form-group row mb-2">
            <div class="col-12">
                <p>{% trans %}sign_form.p1{% endtrans %}</p>
                <ol>
                    <li>
                        {% trans %}sign_form.li1{% endtrans %}
                    </li>
                    <li>
                        {% trans %}sign_form.li2{% endtrans %}
                    </li>
                    <li>
                        {% trans %}sign_form.li3{% endtrans %}
                    </li>
                    <li>
                        {% trans %}sign_form.li4{% endtrans %}
                    </li>
                </ol>
                <p>{% trans %}sign_form.p2{% endtrans %}</p>
                <br>
                <p>{% trans %}sign_form.p3{% endtrans %}</p>
                <p><span class="text-info fw-bold">{% trans %}sign_form.agency_name{% endtrans %}</span> Insuring Sources, Inc.</p>
                <p><span class="text-info fw-bold">{% trans %}sign_form.anpn{% endtrans %}</span> 9131880</p>
                <p><span class="text-info fw-bold">{% trans %}sign_form.name_pwa{% endtrans %}</span> Mary Saiz   &   Elise Vall</p>
                <p><span class="text-info fw-bold">{% trans %}sign_form.agent_npn{% endtrans %}</span> 503048   &   17709529</p>
                <p><span class="text-info fw-bold">{% trans %}sign_form.phone_fax{% endtrans %}</span>  786-597-6421  &  305-203-0588</p>
                <p><span class="text-info fw-bold">{% trans %}sign_form.email{% endtrans %}</span> ms@insuringsources.com  /  ek@insuringsources.com</p>
            </div>
        </div>
        {{ form_start(form, {'attr': {'id':'form'}}) }}

        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.firstName) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.dateOfBirth) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.address) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.suite) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.city) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.state) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.zipcode) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.phone) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12 col-lg-2">
                {{ form_row(form.familySize) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.isInfoAboveCorrect) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.isMarketplace) }}
            </div>
        </div>
        <div class="form-group row mb-2" id="cont_currentHousehold">
            <div class="col-12 col-lg-6">
                {{ form_row(form.currentHousehold) }}
            </div>
        </div>
        <div class="form-group row mb-2" id="cont_expectHousehold">
            <div class="col-12 col-lg-6">
                {{ form_row(form.expectHousehold) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.mostRecentCarrier) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.planName) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12 col-lg-6">
                {{ form_row(form.currentMonthlyPremium) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12">
                {{ form_row(form.isInsterestedRenewingCurrentPlan) }}
            </div>
        </div>
        <div class="form-group row mb-2 sr-only" id="cont_needInsuranceNextYear">
            <div class="col-12">
                {{ form_row(form.needInsuranceNextYear) }}
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-12 col-lg-4">
                {{ form_row(form.signature) }}
            </div>
        </div>

        <div class="form-group row pt-10">
            <div class="col-12">
                <p class="text-danger font-weight-bold">{% trans %}sign_form.required{% endtrans %}</p>
                <a href="#" class="btn btn-primary bnt-send"><i class="fas fa-save"></i>
                    {% trans %}button.save{% endtrans %}</a>
                <a href="{{ path('list_agency') }}" class="btn btn-danger"><i class="fas fa-ban"></i> {% trans %}button.cancel{% endtrans %}</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('assets/js/scripts.bundle.js') }}"></script>

     <script type="text/javascript">
         $(document).ready(function (e) {


             {% if is_marketPlace == 2 %}
                $('#cont_currentHousehold').addClass('sr-only')
                $('#cont_expectHousehold').addClass('sr-only')
             {% endif %}

             $('.bnt-send').click(function (e) {

                 e.preventDefault();
                 $('#form').submit();
             })

             $('#customer_signature_isInsterestedRenewingCurrentPlan_1').click(function (e){

                 var cont_needInsuranceNextYear = $('#cont_needInsuranceNextYear')

                 cont_needInsuranceNextYear.removeClass('sr-only')

             })

             $('#customer_signature_isInsterestedRenewingCurrentPlan_0').click(function (e){

                 var cont_needInsuranceNextYear = $('#cont_needInsuranceNextYear')

                 var customer_signature_needInsuranceNextYear_0 = $('#customer_signature_needInsuranceNextYear_0')
                 var customer_signature_needInsuranceNextYear_1 = $('#customer_signature_needInsuranceNextYear_1')

                 customer_signature_needInsuranceNextYear_0.prop('checked', false)
                 customer_signature_needInsuranceNextYear_1.prop('checked', false)

                 cont_needInsuranceNextYear.addClass('sr-only')

             })

             //Yes
             $('#customer_signature_isMarketplace_0').click(function(e){

                 var cont_currentHousehold = $('#cont_currentHousehold');
                 var cont_expectHousehold = $('#cont_expectHousehold')

                 cont_currentHousehold.removeClass('sr-only')
                 cont_expectHousehold.removeClass('sr-only')
             })
             //No
             $('#customer_signature_isMarketplace_1').click(function(e){
                 var cont_currentHousehold = $('#cont_currentHousehold');
                 var cont_expectHousehold = $('#cont_expectHousehold')

                 cont_currentHousehold.addClass('sr-only')
                 cont_expectHousehold.addClass('sr-only')


             })
         })
     </script>
 {% endblock %}
