{% extends 'base_login.html.twig' %}
{% block body %}
<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
    <img src="{{ asset('images/logo2.jpg') }}"  class="h-60px mb-12" alt="">
    <div class="w-lg-1000px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
        <div class="form-group row mb-2">
            <div class="col-12">
                <p> {% trans %}thank_message{% endtrans %}</p>
            </div>
            <div class="col-12">
                <form action="{{ path('app_public_customer_signature_download_report') }}" method="post" id="form">
                    <input type="hidden" name="hasCode" id="hasCode" value="{{ hasCode }}">
                    <input type="hidden" name="type" id="type" value="">
                    <input type="hidden" name="language" id="language" value="{{ language }}">

{#                <div class="separator separator-content my-15"></div>#}
{#                <p class="text-info fw-bold">{% trans %}sign_form.label.export{% endtrans %}</p>#}
{#                <a href="#" class="btn btn-info me-2 mb-2 btn_export_pdf">#}
{#                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">#}
{#                        <style>svg{fill:#ffffff}</style><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V304H176c-35.3 0-64 28.7-64 64V512H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM176 352h32c30.9 0 56 25.1 56 56s-25.1 56-56 56H192v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V448 368c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24H192v48h16zm96-80h32c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48H304c-8.8 0-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H320v96h16zm80-112c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V432 368z"/></svg>#}
{#                </a>#}
{#                <a href="#" class="btn btn-primary me-2 mb-2  btn_export_xls">#}
{#                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">#}
{#                        <style>svg{fill:#ffffff}</style><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/></svg>#}
{#                </a>#}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('assets/js/scripts.bundle.js') }}"></script>

     <script type="text/javascript">
         $(document).ready(function (e) {

             $('.btn_export_pdf').click(function (e) {

                 e.preventDefault();

                 $('#type').val('pdf')

                 $('#form').submit();
             })

             $('.btn_export_xls').click(function (e) {

                 e.preventDefault();

                 $('#type').val('xls')

                 $('#form').submit();
             })
         })
     </script>
 {% endblock %}
